@font-face {
  font-family: "Simula";
  src: url(fonts/Simula-Book.otf); }

@font-face {
  font-family: "Simula";
  font-style: italic;
  src: url(fonts/Simula-BookItalic.otf); }

@font-face {
    font-family: "BallPill";
    src: url(fonts/BallPill-regular.otf);
}

* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	text-align: center;
}


#overallcontainer {
	width: 100%;
	padding: 0;
	margin: 0;
}

#contact {
	position: fixed;
	top: 35%;
	left: -1%;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: white;
    font-family: 'Avantt TRIAL';
	font-weight: normal;
	font-style: normal;
	font-size: 1.25em;
}

#topcontainer {
	width: 100%;
	float: left;
	background: #363427;
	color: #FF312A;
	font-family: 'Century Old Style Std';
	font-weight: normal;
	padding-bottom: 3%;
}

#bottomcontainer {
	width: 100%;
	float: left;
	background: #FF312A;
	color: #363427;
	padding-bottom: 3%;
}

.bigtitle {
	width: 100%;
	font-family: ;
	font-size: 18vw;
	font-family: 'Test American Grotesk';
	font-weight: 900;
	letter-spacing: -0.03em;
	margin: -3% auto;
	padding: 0;
}

.subtitle {
	width: 100%;
	font-family: 'Avantt TRIAL';
	clear: both;
	font-size: 4vw;
	font-weight: light;
	font-style: normal;
}

.intro {
	width: 70%;
	margin: 20% 15% 0 15%;
	font-size: 3vw;
}

.introsmallleft {
	width: 30%;
	float: left;
	margin: 0 5% 0 15%;
	font-size: 1.75vw;
}

.introsmallright {
	width: 30%;
	float: left;
	margin: 0 15% 0 5%;
	font-size: 1.75vw;
}

.clientlogos {
	margin: 8% 15%;
}

.thelist {
	margin: 20% 15% 0 15%;
	font-size: 2vw;
	font-family: 'Test American Grotesk';
	text-transform: uppercase;
	font-weight: 900;
}

.titles {
	font-family: 'Avantt TRIAL';
	font-weight: 400;
	font-style: normal;
}

.smalltype {
	font-family: 'Avantt TRIAL';
	font-weight: normal;
	font-style: normal;
	font-size: 1.25em;
	margin: 3% 15% 0 15%;
}