@font-face {
  font-family: "American";
  src: url(fonts/american-grotesk-bold.woff2); }

@font-face {
  font-family: "Avantt";
  src: url(fonts/Avantt-Light.woff2); }

@font-face {
    font-family: "Century";
    src: url(fonts/Century.otf);
}

* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	background: #23231D;
	color: #fc4700;
}


.top {
	width: 99%;
	position: fixed;
	top: 0;
	left: 1%;
}

.bigtitle {
	width: 100%;
	font-size: 18.9vw;
	font-family: 'American';
	letter-spacing: -0.05em;
	margin-top: -3.5%;
	margin-bottom: -3%;
	margin-left: -1%;
	padding: 0;
}

.subtitle {
	text-align: center;
	width: 100%;
	font-family: 'Avantt';
	font-size: 4vw;
	text-transform: uppercase;
	float: left;
	margin-top: 2%;
}

.subtitleleft {
	text-align: left;
	width: 50%;
	font-family: 'Avantt';
	float: left;
	font-size: 4vw;
	text-transform: uppercase;
}

.subtitleright {
	text-align: right;
	width: 49%;
	font-family: 'Avantt';
	float: left;
	font-size: 4vw;
	text-transform: uppercase;
}

.bottom {
	width: 99%;
	position: fixed;
	bottom: 1%;
	left: 1%;
	font-family: 'Century';
}

.intro {
	width: 100%;
	font-size: 2vw;
	line-height: 2vw;
	margin-bottom: 2%;
}

.thelist {
	width: 100%;
	font-size: 1vw;
	line-height: 1.2vw;
}

.column {
	width: 12%;
	float: left;
	margin-right: 1%;
}

.columnwide {
	width: 36%;
	float: left;
}

.clientlogos {
	width: 38%;
	float: left;
}

.titles {
	font-family: 'Avantt';
}

footer {
	font-family: 'Avantt';
	font-size: 12px;
	text-align: center;
	width: 100%;
	margin: 1% auto 0 auto;
	text-transform: uppercase;
	float: left;
}

.clientlogos img {
	max-width: 40%;
	margin: 0 auto;
	padding: 0;
	display: block;
	border-style: none;
	text-decoration: none;
}



/* LINKS --------------- */

a:link {
	text-decoration:none;
	color: #fc4700;
}

a:visited {
	text-decoration:none;
	color: #fc4700;
}

a:hover{
	text-decoration:none;
	color: #ffffff;
}

a:active {
	text-decoration:none;
	color: #fc4700;
}



/* RESPONSIVE ----------------------------- */
@media screen and (max-width:900px){

	.subtitle {
		font-size: 5vw;
		margin-top: 0;
	}

	.subtitleleft {
		font-size: 5vw;
	}

	.subtitleright {
		font-size: 5vw;
	}

	.intro {
		font-size: 3.5vw;
		line-height: 3.5vw;
		margin-bottom: 4%;
	}

	.thelist {
		font-size: 2vw;
		line-height: 2.2vw;
	}

	.column {
		width: 50%;
		float: left;
		margin-right: 0;
		margin-bottom: 2%;
	}

	.columnwide {
		width: 100%;
	}

	.clientlogos {
		width: 100%;
	}

	footer {
		font-size: 8px;
	}

}


@media screen and (max-width:670px){

	.top {
		width: 98%;
		position: initial;
		margin: 0 1%;
	}

	.bottom {
		width: 98%;
		position: initial;
		margin: 1% 1%;
	}

	.subtitle {
		font-size: 6vw;
		margin-top: 0;
	}

	.subtitleleft {
		font-size: 6vw;
	}

	.subtitleright {
		font-size: 6vw;
	}

	.intro {
		font-size: 4.5vw;
		line-height: 4.5vw;
		margin-bottom: 5%;
		margin-top: 30%;
	}

	.thelist {
		font-size: 4.5vw;
		line-height: 4.5vw;
	}

	.column {
		width: 50%;
		float: left;
		margin-right: 0;
		margin-bottom: 5%;
	}

	.columnwide {
		width: 100%;
	}

	.clientlogos {
		width: 100%;
	}

	footer {
		font-size: 8px;
		margin: 2% auto;
	}


	/* all on screen ------------
	.top {
		width: 98%;
	}

	.bottom {
		width: 98%;
	}

	.subtitle {
		font-size: 5vw;
		margin-top: 0;
	}

	.subtitleleft {
		font-size: 5vw;
	}

	.subtitleright {
		font-size: 5vw;
	}

	.intro {
		font-size: 4.5vw;
		line-height: 4.5vw;
		margin-bottom: 4%;
	}

	.thelist {
		font-size: 3vw;
		line-height: 3.2vw;
	}

	.column {
		width: 50%;
		float: left;
		margin-right: 0;
		margin-bottom: 2%;
	}

	.columnwide {
		width: 100%;
	}

	.clientlogos {
		width: 100%;
	}

	footer {
		font-size: 8px;
	}
	---------------------*/

}

